<settings>
    <setting propertyKey="@Properties.ebikeSource" title="@Strings.SettingEbikeSource">
        <settingConfig type="list">
            <listEntry value="0">@Strings.EbikeSourceOwn</listEntry>
            <listEntry value="1">@Strings.EbikeSourceNative</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.useLevSensor" title="@Strings.SettingUseLev" prompt="@Strings.SettingUseLevPrompt">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.controlLev" title="@Strings.SettingControlLev" prompt="@Strings.SettingControlLevPrompt">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.levDeviceNumber" title="@Strings.SettingLevDevice" prompt="@Strings.SettingLevDevicePrompt">
        <settingConfig type="numeric" min="0" max="65535"/>
    </setting>
    <setting propertyKey="@Properties.assistFullRangeKm" title="@Strings.SettingAssistRange" prompt="@Strings.SettingAssistRangePrompt">
        <settingConfig type="numeric" min="10" max="400"/>
    </setting>
    <setting propertyKey="@Properties.assistBatteryWh" title="@Strings.SettingBatteryWh" prompt="@Strings.SettingBatteryWhPrompt">
        <settingConfig type="numeric" min="0" max="2000"/>
    </setting>
    <setting propertyKey="@Properties.bleBatteryName" title="@Strings.SettingBleName" prompt="@Strings.SettingBleNamePrompt">
        <settingConfig type="alphaNumeric" maxLength="24"/>
    </setting>
    <setting propertyKey="@Properties.showWeather" title="@Strings.SettingUseWeather">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.useMap" title="@Strings.SettingUseMap" prompt="@Strings.SettingUseMapPrompt">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.layoutStyle" title="@Strings.SettingStyle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.StyleCockpit</listEntry>
            <listEntry value="1">@Strings.StylePanels</listEntry>
        </settingConfig>
    </setting>
</settings>
