<settings>
    <setting propertyKey="@Properties.assistFullRangeKm" title="@Strings.SettingAssistRange">
        <settingConfig type="numeric" min="10" max="400"/>
    </setting>
    <setting propertyKey="@Properties.showWeather" title="@Strings.SettingUseWeather">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.useMap" title="@Strings.SettingUseMap" prompt="@Strings.SettingUseMapPrompt">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.layoutStyle" title="@Strings.SettingStyle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.StyleCockpit</listEntry>
            <listEntry value="1">@Strings.StylePanels</listEntry>
        </settingConfig>
    </setting>
</settings>
